.aplicativo {
    text-align: center;
}

.aplicativo h1 {
    font-weight: 300;
    letter-spacing: 10px;
    color: var(--branco);
}

.boxsAplicativo {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.boxAplicativo {
    flex: 1;
    box-sizing: border-box;
}

.box1Aplicativo {
    padding: 20px;
}

.box1Aplicativo h3 {
    color: #fff;
    font-size: 1.5em;
}

.box1Aplicativo ul {
    color: #fff;
    font-size: 1.5em;
    text-align: start;
    margin-left: 20%;
}

.box2Aplicativo img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

@media (max-width: 768px) {
    .aplicativo h1 {
        font-size: 2em;
    }

    .box1Aplicativo ul {
        font-size: 1.5em;
        text-align: start;
        margin-left: 0;
    }

    .boxsAplicativo {
        flex-direction: column;
    }

    .box1Aplicativo,
    .box2Aplicativo {
        width: 100%;
    }

    .box2Aplicativo {
        order: -1;
    }
}