.footer {
  background-color: orange;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  border: none;
}

.footerP {
  color: var(--branco);
  margin: 4px 0;
  text-align: start;
  width: 100%;
  max-width: 500px;
}
.footer p {
  color: var(--branco);
  margin: 4px 0;
}

.footer a {
  color: var(--branco);
  text-decoration: underline;
}
