.VideoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 8px; 
  box-sizing: border-box;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4) !important;
  border: 4px solid orange !important;
  overflow: hidden;
}

.VideoExemplo {
  width: 50vw;
  height: 60vh;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .VideoExemplo {
    width: 90vw;
    height: 30vh;
  }
}


